<!--<div class="section" ng-cloak>
    <md-content flex class="md-padding" layout-xs="column" layout="row">
        <div flex-xs flex-gt-xs="20" layout="column" ng-repeat="myPost in post.posts">
            <md-card>
                <img ng-src="{{myPost.image.thumbnail}}" class="md-card-image" alt="">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">{{myPost.title}}</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <p>
                        {{myPost.story | limitTo: 50}}
                    </p>
                </md-card-content>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button class="md-icon-button" aria-label="Favorite">
                        <md-icon md-svg-icon="img/icons/favorite.svg"></md-icon>
                    </md-button>
                    <md-button class="md-icon-button" aria-label="Settings">
                        <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
                    </md-button>
                    <md-button class="md-icon-button" aria-label="Share">
                        <md-icon md-svg-icon="img/icons/share.svg"></md-icon>
                    </md-button>
                </md-card-actions>
            </md-card>
    </md-content>
</div>
</div>-->


<div id='timeline-embed' style="width: 100%; height: 600px"></div>

